.super-mario {
    width: 200px;
    position:absolute;
    left: 10px;
    z-index: 2;
  }
  
  .goomba {
    width: 150px;
    position:absolute;
    top: 370px;
    left: 150px;
    z-index: 1;
  }
  
  .baloon {
    position:absolute;
    top: 10px;
    left: 450px;
    width: 300px;

    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    top: 50px;
    left: 474px;
    position:absolute;
    z-index: 4;
  }
  
  .bowser {
    width: 300px;
    position:absolute;
    left: 750px;
    z-index: 5;
  }